# Python
__pycache__/
*.py[cod]
*$py.class

# Testing / Pytest
.pytest_cache/
.coverage
htmlcov/

# Databases
*.db
*.sqlite3

# Environments
.env
.venv/
venv/
env/

# Logs
logs/
*.log

# Editor directories and OS files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
